<table class="listing">
	<thead>
		<tr>
			<td>Id</td>
			<td>Description</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
	{{#data}}
		<tr>
			<td><a href="{{base_url}}/view/{{id}}">{{id}}</a></td>
			<td>{{{admin_description}}}</td>
			<td class="actions">
				<a class="icon detail" href="{{base_url}}/view/{{id}}">detail</a>
				<a class="icon edit" href="{{base_url}}/edit/{{id}}">edit</a>
				<a class="icon delete" href="{{base_url}}/delete/{{id}}">delete</a>
			</td>
		</tr>
	{{/data}}
	{{^data}}
		<tr>
			<td colspan="4">Nothing to show for now</td>
		</tr>
	{{/data}}
	</tbody>
</table>
